<div class="block-container">
  <div
    #popoverOrigin
    class="input-container"
    (click)="openDatePickerOnClick(inputDateContent)"
  >
    <span class="input-field">{{ displayedDate() }}</span>
    <app-icon [name]="IconsEnum.Calendar" />
  </div>
  <div class="clear-icon">
    <app-icon [name]="IconsEnum.Trash" />
  </div>
</div>
<ng-template #inputDateContent>
  <div class="date-picker-overlay">
    <div class="calendar-header">
      <span> {{ "input.date.today" | translate }}</span>
      <span class=""> {{ "input.date.clear" | translate }}</span>
    </div>

    <div class="date-view-mode-panel">
      <div class="chevron-left-icon">
        <app-icon
          [name]="IconsEnum.AngleLeft"
          (click)="swipeViewOnDoubleArrowClick(-1)"
        />
      </div>
      <div class="view-mode-container">
        <h1 class="view-mode">
          {{ InputDateEnum.viewModeToString.value(viewMode()) | translate }}
        </h1>
      </div>
      <div class="chevron-right-icon">
        <app-icon
          [name]="IconsEnum.AngleRight"
          (click)="swipeViewOnDoubleArrowClick(1)"
        />
      </div>
    </div>

    <div class="date-content">
      <table
        cdk-table
        *ngIf="viewMode() === InputDateEnum.View.Dayjs"
        [dataSource]="daysDataSource$"
      >
        <ng-container
          *ngFor="let headerName of daysTableColumns; let column = index"
          [cdkColumnDef]="headerName"
        >
          <th cdk-header-cell *cdkHeaderCellDef>
            <span>
              {{ headerName | translate }}
            </span>
          </th>
          <td
            cdk-cell
            *cdkCellDef="let day"
            [ngClass]="{
              outOfMonth: day[column]?.swipeMonth,
              selected: day[column]?.isSelected
            }"
            (click)="setDay(day[column]?.value)"
          >
            <span>
              {{ day[column]?.value }}
            </span>
          </td>
        </ng-container>
        <cdk-header-row *cdkHeaderRowDef="daysTableColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: daysTableColumns"></cdk-row>
      </table>

      <table
        cdk-table
        *ngIf="viewMode() === InputDateEnum.View.Months"
        class="months-table"
        [dataSource]="monthsDataSource$"
      >
        <ng-container
          *ngFor="let fakeHeader of monthsTableFakeHeaders; let column = index"
          [cdkColumnDef]="fakeHeader"
        >
          <th cdk-header-cell *cdkHeaderCellDef></th>
          <td
            class="months-table"
            cdk-cell
            *cdkCellDef="let month"
            (click)="setMonth(month[column]?.value)"
          >
            <span>
              {{ month[column]?.label | translate }}
            </span>
          </td>
        </ng-container>
        <tr
          cdk-header-row
          class="months-table"
          *cdkHeaderRowDef="monthsTableFakeHeaders"
        ></tr>
        <tr cdk-row *cdkRowDef="let row; columns: monthsTableFakeHeaders"></tr>
      </table>

      <table
        *ngIf="viewMode() === InputDateEnum.View.Years"
        class="years-table"
        cdk-table
        [dataSource]="yearsDataSource$"
      >
        <ng-container
          *ngFor="let year of yearsTableFakeHeaders; let column = index"
          [cdkColumnDef]="year"
        >
          <th cdk-header-cell *cdkHeaderCellDef></th>
          <td class="years-table" cdk-cell *cdkCellDef="let year" (click)="setYear(year[column]?.value)">
            <span>{{ year[column]?.value }}</span>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="yearsTableFakeHeaders"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: yearsTableFakeHeaders"></tr>
      </table>
    </div>
  </div>
</ng-template>
