@import "../../styles/color.scss";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;

  .block-container {
    display: flex;

    & > * {
      margin: 0 0.19rem;
    }

    .input-container,
    .clear-icon {
      font-size: 1rem;
    }

    .input-container {
      width: 10rem;
      height: 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 0.5rem;

      .input-field {
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }
    }

    .clear-icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      box-shadow: 0 0 1px;
      border-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
    }
  }
}

.date-picker-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000a4;

  .calendar-header {
    height: 2rem;
    width: 100%;
    max-height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: $smooth-purple;

    & > * {
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.5rem;
      color: #fff;
      padding: 0.25rem 0.75rem;
      border-style: none;
      box-shadow: 4px 3px 15px #00000054, -4px -4px 15px #ffffff7c;
    }

    & > *:last-child {
      margin: 0 0.8rem;
    }
  }

  .date-view-mode-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    width: 83%;
    min-height: 8rem;

    .chevron-left-icon,
    .chevron-right-icon {
      font-size: 1.25rem;
      color: #ffffff9f;
      cursor: pointer;
    }

    .view-mode-container {
      width: 7rem;
      height: 6.5rem;
      border-radius: 50%;
      border: 1px solid #ffffff93;
      margin: 0 1.5rem;
      box-shadow: -9px 8px 6px #000000b6 inset, 8px -7px 6px #ffffff75,
        -8px 7px 6px #000000b6;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffffc0;

      .view-mode {
        font-size: 1.5rem;
      }
    }
  }

  .date-content {
    width: 100%;
    overflow: auto;

    table {
      padding: 0 2rem;

      &.months-table {
        padding: 0 2rem 0 2.5rem;
      }

      &.year-table {
        overflow: auto;
        padding: 0;
      }

      th,
      td {
        text-align: center;
        vertical-align: middle;

        &.months-table {
          text-align: center;
          width: 5rem;
          height: 3rem;
          font-size: 1rem;
        }

        &.years-table {
          text-align: right;
        }
      }
      th {
        font-size: 0.8rem;
        width: 2rem;
        height: 2rem;
        color: #c5bff3;
      }
      td {
        position: relative;
        width: 2rem;
        height: 1.8rem;
        font-size: 0.78rem;
        color: #ffffff;
        cursor: pointer;
        border-radius: 44%;

        &:hover:not(.years-table) {
          background-color: #0000009a;
        }

        &.years-table::before {
          content: "";
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translateX(-25%);
          width: 0;
          height: 2px;
          background-color: $smooth-purple;
          transition: width 0.3s ease;
          border-radius: 15px;
          box-shadow: 0 0 2px #ffffff9b;
        }

        &.years-table:hover::before {
          width: 50%;
        }

        &.outOfMonth {
          color: #d1d1d1e5;
        }

        &.selected {
          border: 1px solid #ffffffb4;
        }
      }

      tr.months-table {
        max-height: 0;
      }
    }
  }
}
