@font-face {
  font-family: "nueva-garcia-regular";
  src: url("assets/fonts/NuevaGarciaRegular-7B46l.ttf");
}

@font-face {
  font-family: quickSand;
  src: url("assets/fonts/Quicksand-Light.ttf");
}
