@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: linear-gradient(
      217deg,
      rgb(189, 51, 65),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(8, 52, 8, 0.6), rgb(50, 29, 168) 70.71%),
    linear-gradient(336deg, rgb(50, 29, 168), rgba(0, 0, 255, 0) 70.71%);

  // linear-gradient(
  //   200deg,

  // ),
  // linear-gradient(10deg, rgb(201, 186, 215));
}

.cdk-overlay-pane {
  box-shadow: 0 0 0.5rem #000000;
  background-color: #ffffff;
  border-radius: 12px 12px 8px 8px;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif, "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

.cdk-overlay-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.01);
}
