@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-size: 62.5%;
}

.cdk-overlay-pane {
  box-shadow: 0 0 .5rem #000000;
  background-color: #ffffff;
  border-radius: 12px 12px 8px 8px;
  overflow-y: hidden;
}

.cdk-overlay-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.01);
}