:host {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .app-container {
    display: flex;
    justify-content: center;
    max-width: 15rem;
    height: 7rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 3px #000;
  }
}
