:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;

  .input-container {
    display: flex;
    align-items: center;

    & > * {
      cursor: pointer;
    }

    & > *:last-child {
      font-size: 0.8rem;
      margin: 0 0.5rem;
      color: #000000c6;
    }

    .input-field-container {
      min-width: 10rem;
      font-size: 1rem;
      height: 1.25rem;
      border-radius: 0.5rem;
      border: 1px solid #4f4e4e3e;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 0.5rem;

      .input-field {
        font-size: 0.8rem;
        margin: 0.5rem;

        &.placeholder {
          color: #4746467f;
          font-size: 0.75rem;
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      & > *:last-child {
        color: rgba(37, 37, 37, 0.576);
        font-size: 0.8rem;
      }
    }
  }
}
