@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

:host {
  .date-picker-overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-bg;
    user-select: none;

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1rem;
      background-color: $smooth-purple;
      border-radius: 12px 12px 0 0;
      width: 91.5%;

      & > *:first-child {
        @include closeButton;
      }
      
      & > *:last-child > * {
        margin-left: 0.75rem;
        border-style: none;
        border-radius: 0.5rem;
        padding: 0.25rem 0.75rem;
        box-shadow: 4px 3px 15px #00000054, -4px -4px 15px #ffffff7c;
        cursor: pointer;
      }
    }

    .views-panel {
      display: flex;
      height: 88%;
      justify-content: space-between;

      .date-panel {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        max-width: 98%;

        .date-view-mode-panel {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1.5rem 0;
          min-height: 8rem;

          .chevron-left-icon,
          .chevron-right-icon {
            font-size: 1.25rem;
            color: #ffffff9f;
            cursor: pointer;
          }

          .view-mode-circle {
            width: 7rem;
            height: 6.5rem;
            border-radius: 50%;
            border: 1px solid #ffffff93;
            margin: 0 1.5rem;
            box-shadow: -9px 8px 6px #000000b6 inset, 8px -7px 6px #ffffff75,
              -8px 7px 6px #000000b6;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffffc0;

            .view-mode {
              font-size: 1.2rem;
            }
          }
        }

        .single-arrows-container {
          display: flex;
          justify-content: center;
          font-size: 1rem;

          & > * {
            margin: 0 1rem;
          }

          .week-order {
            color: #ffffffd0;
          }
        }

        .date-content {
          height: 15rem;
          overflow: scroll;
          scrollbar-width: thin;

          .week-table {
            display: flex;
            flex-direction: column;
          }

          table {
            th,
            td {
              text-align: center;
              vertical-align: middle;

              &.months-table {
                width: 3.5rem;
                height: 3rem;
                font-size: 1rem;
              }
            }

            th {
              font-size: 0.8rem;
              width: 2rem;
              height: 2rem;
              color: #c5bff3;
            }

            td {
              position: relative;
              width: 2rem;
              height: 1.8rem;
              font-size: 0.78rem;
              color: #ffffff;
              cursor: pointer;
              border-radius: 44%;

              &.rounded-selected:not(.selected):hover {
                background-color: #0000009a;
                border-radius: 60%;
              }

              &.selected {
                border: 1px solid #ffffffb4;
              }

              &:not(.rounded-selected, .selected)::before {
                content: "";
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: $smooth-purple;
                transition: width 0.3s ease;
                border-radius: 15px;
                box-shadow: 0 0 2px #ffffff9b;
              }

              &.underlined-selected:hover::before {
                width: 50%;
              }

              &.outOfMonth {
                color: #d1d1d1e5;
                background-color: rgba(229, 142, 54, 0.465);
                // color: #000000a9;
              }
            }
          }
        }
      }

      .time-view-panel {
        display: flex;
        width: 7rem;
        margin-top: 0.9rem;

        ul {
          position: relative;
          list-style: none;
          height: 90%;
          overflow: auto;
          padding: 0 0.75rem;

          &:first-child {
            border-left: 1px solid #ffffff34;
          }

          & > *:nth-child(2n + 1) {
            color: #e5e4e4d5;
          }

          & > * {
            font-size: 1rem;
            color: #000000f0;
            margin: 0.5rem 0;
            padding: 0.25rem;
            border-radius: 45%;
            text-align: center;
            cursor: pointer;

            &:hover {
              background-color: $smooth-purple;
            }

            &.selected {
              border: 1px solid #ffffffaf;
            }
          }
        }
      }
    }
  }
}
