@import "../../../../styles/color.scss";

:host {
  display: block;

  .date-picker-overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000a4;
    user-select: none;

    .calendar-header {
      height: 2rem;
      width: 92%;
      max-height: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      background-color: $smooth-purple;
      border-radius: 12px 12px 0 0;

      & > * {
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0.5rem;
        color: #fff;
        padding: 0.25rem 0.75rem;
        border-style: none;
        box-shadow: 4px 3px 15px #00000054, -4px -4px 15px #ffffff7c;
      }

      & > *:last-child {
        margin: 0 0.8rem;
      }
    }

    .views-panel {
      display: flex;
      height: 88%;
      justify-content: space-between;

      .date-panel {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        width: 88%;

        .date-view-mode-panel {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1.5rem 0;
          min-height: 8rem;

          .chevron-left-icon,
          .chevron-right-icon {
            font-size: 1.25rem;
            color: #ffffff9f;
            cursor: pointer;
          }

          .view-mode-container {
            width: 7rem;
            height: 6.5rem;
            border-radius: 50%;
            border: 1px solid #ffffff93;
            margin: 0 1.5rem;
            box-shadow: -9px 8px 6px #000000b6 inset, 8px -7px 6px #ffffff75,
              -8px 7px 6px #000000b6;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffffc0;

            .view-mode {
              font-size: 1.5rem;
            }
          }
        }

        .single-arrows-container {
          display: flex;
          justify-content: center;
          font-size: 1rem;

          & > * {
            margin: 0 1rem;
          }

          .week-order {
            color: #ffffffd0;
          }
        }

        .holidays-warning-panel {
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
          color: #ffffffcf;

          & > * {
            margin-right: 0.5rem;
          }
        }

        .date-content {
          height: 15rem;
          overflow: scroll;
          scrollbar-width: thin;

          .week-table {
            display: flex;
            flex-direction: column;
          }

          table {
            th,
            td {
              text-align: center;
              vertical-align: middle;

              &.months-table {
                width: 5rem;
                height: 3rem;
                font-size: 1rem;
              }
            }

            th {
              font-size: 0.8rem;
              width: 2rem;
              height: 2rem;
              color: #c5bff3;
            }

            td {
              position: relative;
              width: 2rem;
              height: 1.8rem;
              font-size: 0.78rem;
              color: #ffffff;
              cursor: pointer;
              border-radius: 44%;

              &.isHolyday {
                position: relative;

                .tooltip {
                  z-index: 20;
                  position: absolute;
                  color: #ffffffb0;
                  background-color: #000000;
                  top: -100%;
                  left: 80%;
                  transform: translateX(-40%);
                  border-radius: 5px;
                  min-width: 4rem;
                  visibility: hidden;
                  padding: 0.25rem;
                  font-size: 0.8rem;

                  &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid black;
                    position: absolute;
                    left: 20%;
                    bottom: -5px;
                  }
                }

                &:hover .tooltip {
                  visibility: visible;
                }
              }

              &.rounded-selected:not(.selected):hover {
                background-color: #0000009a;
                border-radius: 60%;
              }

              &.selected {
                border: 1px solid #ffffffb4;
              }

              &:not(.rounded-selected, .selected)::before {
                content: "";
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: $smooth-purple;
                transition: width 0.3s ease;
                border-radius: 15px;
                box-shadow: 0 0 2px #ffffff9b;
              }

              &.underlined-selected:hover::before {
                width: 50%;
              }

              &.outOfMonth {
                color: #d1d1d1e5;
              }

              &.isHolyday {
                background-color: $info;
                color: #000000a9;
              }
            }

            tr.months-table {
              max-height: 0;
            }
          }
        }
      }

      .time-view-panel {
        display: flex;
        width: 8rem;
        margin-top: 0.9rem;

        ul {
          position: relative;
          list-style: none;
          height: 90%;
          overflow: auto;
          padding: 0 1rem;

          &:first-child {
            border-left: 1px solid #ffffff34;
          }

          & > *:nth-child(2n + 1) {
            color: #e5e4e4d5;
          }

          & > * {
            font-size: 1rem;
            color: #000000f0;
            margin: 0.5rem 0;
            padding: 0.25rem;
            border-radius: 45%;
            text-align: center;
            cursor: pointer;

            &:hover {
              background-color: $smooth-purple;
            }

            &.selected {
              border: 1px solid #ffffffd3;
            }
          }
        }
      }
    }
  }
}
